.text-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1000px;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 1%;
    color: rgb(0,0,0);
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
.text-container p{
    margin-top: 2%;
    font-size: 1.5rem;
}
.text-container h2{
    border-bottom: 4px solid #ad3030;
}
.A1-align{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    justify-content: center;
    padding-left: 1%;
    margin-top: 3%;
    max-width: 1000px;
    color: #ad3030;
    width: 50%;
    font-size:1.2rem;
}
.text-A1 a{
    color: rgb(0,0,0);
    display: block; 
  margin: 2% 0;
}
.A1-li1{
    margin-top: 1%;
}
.A1-li2{
    margin-top: 1%;
}
.A2-align{
    margin-top: 4%;
}
@media screen and (max-width: 768px) {
    .text-container{
        width: 98%;
    }
    .A1-align{
            width: 95%;

    }
}