.vocabulary-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1000px;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 1%;
}
.img-container img{
    width:90%;
    margin-left:4%;
    margin-bottom:-3%;
}
.vocabulary-container h1{
    font-size: 2rem;
    border-bottom: 4px solid #ad3030;
    color: #000;
    margin-top:2%;
}
.tests-container svg {
    vertical-align: middle;
    margin-bottom:1%;
}

.vocabulary-container p{
    font-size: 1.3rem;
    margin-top:2%;
    text-align: justify;
}
.tables-container {
    display: flex;
    justify-content: center;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-top:6%;
  }
  .tests-container{
    margin-top:5%;
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    
  }
  .tests-container p{
    margin-top:-14%;
    color: rgb(0,0,0);
    display: inline-block;
    border-bottom: 3px solid #ad3030;
    padding-top: 18%;
    display:flex;
    text-align: left; 
  }
  .tests-container2{
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    
  }
  .tests-container2 p{
    color: rgb(0,0,0);
    border-bottom: 3px solid rgb(0,0,0);
    margin-top:29%;
    display: inline-block;
    text-decoration: none;
    text-align: left; 
  }
  .table th,
  .table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 2%;
    border-bottom: 3px dotted #f0f0f0;
  
  }
  
  .table tbody tr:nth-child(even) td {
    background-color: #fff; 
  }
  .table tbody tr:nth-child(odd) td {
    background-color: #f0f0f0; 
  }
  
  .table th {
    background-color: #fff;
    font-weight: bold;
  }
  
  .table th img{
    width: 20%;
    margin-right:4%;
  }
  .th-content {
    display: inline-flex; 
    align-items: center;
    justify-content: center; 
  }
  