.footer-container2{
    background-color: rgb(0, 0, 0);
    padding: 1.5rem 0 3.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index:-999;
    margin-top: 5%;
}
.footer-links2{
    display: flex;
}
.navbar-logo2 img{
    width:10%;
    margin-lefT: 4%;
}

.navbar-logo2{
    font-size: 2rem;
    color:white;
    align-items: center;
    display: flex;
    margin-left: 2%;
    margin-bottom: 35%;
    justify-self: start;
    text-decoration: none;
    cursor: pointer;
}
.navbar-logo2 .title {
    font-size: 1.5rem ; 
    margin-left: 0.5rem;
    color: white;
        display: flex;
}
.footer-link-wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.footer-link-items1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: 16px;
    margin-bottom: 8%;
}
.footer-link-items1 h2{
    margin-bottom: 16px;
    color: #fff;
    margin-right: 10%;
}
.footer-link-items1 p {
    color: #fff;
    width: 60%;
    text-align: justify;
    font-size: 16px;
}
.social-icons-column {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-right: 20%;
    align-items: flex-start;
    text-align: left;
    font-size: 16px
  }
  .social-icons-column h2{
    margin-bottom: 16px;
    color: #fff;
}
  
  .social-icon {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .social-icon a {
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
}

.social-icon a:hover{
    color:#b22c2c;
}