video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: sticky;
    z-index: -1;
}
.video-container{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.text-overlay {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-3%, -50%);
    text-align: center;
    z-index: 1;
  }
.text-overlay h1{
  color: #000;
}
  .home-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 900px;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1%;
  }
  .firstparagraph{
    text-align: justify
  }
  .secondparagraph{
    margin-top: 6%;
    text-align: justify
  }

  .img-container img{
    width: 70%;
    margin-top: 5%;
    margin-left: 17%;
  }
  .test{
    margin-top: 4%;
    text-align: justify
  }
  .text1{
    margin-top: 4%;
    padding-left: 0%;
    color: #000000;
  }
  .text1:hover{
    color: #dac208;
  }
  .text2{
    margin-right:53%;
    margin-top: 10%;
  }
  @media screen and (max-width: 768px) {
    .home-container{
        width: 98%;
    }
}